<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="Home.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
  <header>
    <nav class="header">
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/37/UNIQLO_logo_%28Japanese%29.svg/2058px-UNIQLO_logo_%28Japanese%29.svg.png"
        alt="Logo" class="logo">

      <div class="navbar d-flex">
        <div class="menu-item">
          <a class="active" href="#">Run</a>
          <div class="mega-menu">
            <div class="container">
              <div class="row text-center">

                <div class="col-md-3">
                  <a href="../Product/Product.html" class="menu-card">
                    <img src="https://cdn-images.farfetch-contents.com/18/31/64/89/18316489_41349181_1000.jpg" alt="">
                    <p>siu</p>
                  </a>
                </div>
                <div class="col-md-3">
                  <a href="../Product/Product.html" class="menu-card">
                    <img src="https://cdn-images.farfetch-contents.com/18/31/64/89/18316489_41349181_1000.jpg" alt="">
                    <p>siu</p>
                  </a>
                </div>
                <div class="col-md-3">
                  <a href="../Product/Product.html" class="menu-card">
                    <img src="https://cdn-images.farfetch-contents.com/18/31/64/89/18316489_41349181_1000.jpg" alt="">
                    <p>siu</p>
                  </a>
                </div>
                <div class="col-md-3">
                  <a href="../Product/Product.html" class="menu-card">
                    <img src="https://cdn-images.farfetch-contents.com/18/31/64/89/18316489_41349181_1000.jpg" alt="">
                    <p>siu</p>
                  </a>
                </div>
                <div class="col-md-3">
                  <a href="../Product/Product.html" class="menu-card">
                    <img src="https://cdn-images.farfetch-contents.com/18/31/64/89/18316489_41349181_1000.jpg" alt="">
                    <p>siu</p>
                  </a>
                </div>

              </div>
            </div>
          </div>
        </div>

        <div class="menu-item">
          <a href="#">Fashion</a>
          <div class="mega-menu">
            <div class="container">
              <div class="row text-center">
                <div class="col-md-3">
                  <a href="../Product/Product.html" class="menu-card">
                    <img src="https://cdn-images.farfetch-contents.com/18/31/64/89/18316489_41349181_1000.jpg" alt="">
                    <p>siu</p>
                  </a>
                </div>
                <div class="col-md-3">
                  <a href="../Product/Product.html" class="menu-card">
                    <img src="https://cdn-images.farfetch-contents.com/18/31/64/89/18316489_41349181_1000.jpg" alt="">
                    <p>siu</p>
                  </a>
                </div>
                <div class="col-md-3">
                  <a href="../Product/Product.html" class="menu-card">
                    <img src="https://cdn-images.farfetch-contents.com/18/31/64/89/18316489_41349181_1000.jpg" alt="">
                    <p>siu</p>
                  </a>
                </div>
                <div class="col-md-3">
                  <a href="../Product/Product.html" class="menu-card">
                    <img src="https://cdn-images.farfetch-contents.com/18/31/64/89/18316489_41349181_1000.jpg" alt="">
                    <p>siu</p>
                  </a>
                </div>
                <div class="col-md-3">
                  <a href="../Product/Product.html" class="menu-card">
                    <img src="https://cdn-images.farfetch-contents.com/18/31/64/89/18316489_41349181_1000.jpg" alt="">
                    <p>siu</p>
                  </a>
                </div>

              </div>

            </div>
          </div>
        </div>

        <div class="menu-item">
          <a href="#">Sport</a>
          <div class="mega-menu">
            <div class="container">
              <div class="row text-center">
                <div class="col-md-3">
                  <a href="../Product/Product.html" class="menu-card">
                    <img src="https://cdn-images.farfetch-contents.com/18/31/64/89/18316489_41349181_1000.jpg" alt="">
                    <p>siu</p>
                  </a>
                </div>
                <div class="col-md-3">
                  <a href="../Product/Product.html" class="menu-card">
                    <img src="https://cdn-images.farfetch-contents.com/18/31/64/89/18316489_41349181_1000.jpg" alt="">
                    <p>siu</p>
                  </a>
                </div>
                <div class="col-md-3">
                  <a href="../Product/Product.html" class="menu-card">
                    <img src="https://cdn-images.farfetch-contents.com/18/31/64/89/18316489_41349181_1000.jpg" alt="">
                    <p>siu</p>
                  </a>
                </div>
                <div class="col-md-3">
                  <a href="../Product/Product.html" class="menu-card">
                    <img src="https://cdn-images.farfetch-contents.com/18/31/64/89/18316489_41349181_1000.jpg" alt="">
                    <p>siu</p>
                  </a>
                </div>
                <div class="col-md-3">
                  <a href="../Product/Product.html" class="menu-card">
                    <img src="https://cdn-images.farfetch-contents.com/18/31/64/89/18316489_41349181_1000.jpg" alt="">
                    <p>siu</p>
                  </a>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="nav_icons">
        <a href="../Cart/Cart.html"><i class="fa-solid fa-cart-shopping"></i></a>
        <a href="../Login/Login.html"><i class="fa-regular fa-user"></i></a>
      </div>
    </nav>
  </header>

  <section class="home">
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide bg1">
          <div class="title">
            <h2>Ấn Phẩm LifeWear Thu & Đông 2025 - Xin Chào, Cate</h2>
            <p>Số 13: Tìm Lại Vẻ Đẹp Kinh Điển</p>
          </div>
        </div>
        <div class="swiper-slide bg2">
          <div class="title">
            <h2>Bộ Sưu Tập Mùa Hè 2025</h2>
            <p>Phong cách tươi mới, trẻ trung</p>
          </div>
        </div>
        <div class="swiper-slide bg3">
          <div class="title">
            <h2>Bộ Sưu Tập Đặc Biệt</h2>
            <p>Khám phá thiết kế sáng tạo</p>
          </div>
        </div>
        <div class="swiper-slide bg4">
          <div class="title">
            <h2>Ấn Phẩm LifeWear Thu & Đông 2025 - Xin Chào, Cate</h2>
            <p>Số 13: Tìm Lại Vẻ Đẹp Kinh Điển</p>
          </div>
        </div>
        <div class="swiper-slide bg5">
          <div class="title">
            <h2>Bộ Sưu Tập Mùa Hè 2025</h2>
            <p>Phong cách tươi mới, trẻ trung</p>
          </div>
        </div>
        <div class="swiper-slide bg6">
          <div class="title">
            <h2>Bộ Sưu Tập Đặc Biệt</h2>
            <p>Khám phá thiết kế sáng tạo</p>
          </div>
        </div>
        <div class="swiper-slide bg7">
          <div class="title">
            <h2>Ấn Phẩm LifeWear Thu & Đông 2025 - Xin Chào, Cate</h2>
            <p>Số 13: Tìm Lại Vẻ Đẹp Kinh Điển</p>
          </div>
        </div>
        <div class="swiper-slide bg8">
          <div class="title">
            <h2>Bộ Sưu Tập Mùa Hè 2025</h2>
            <p>Phong cách tươi mới, trẻ trung</p>
          </div>
        </div>
        <div class="swiper-slide bg9">
          <div class="title">
            <h2>Bộ Sưu Tập Đặc Biệt</h2>
            <p>Khám phá thiết kế sáng tạo</p>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
    <div class="bottom-nav">
      <a href="../Home/Home.html" class="nav-item">
        <i class="fa-solid fa-house"></i>
      </a>
      <button id="searchBtn" class="nav-item" aria-label="mở tìm kiếm">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
      <a href="../Login/Login.html" class="nav-item">
        <i class="fa-regular fa-user"></i>
      </a>
    </div>
  </section>

  <div class="search-overlay" id="searchOverlay">
    <div class="search-container">
      <div class="suggested-products">
        <section class="products container my-5">
          <h2 class="mb-4 text-center">Sản phẩm nổi bật</h2>

          <div class="row g-4">
            <div class="col-6 col-md-3">
              <div class="card h-100">
                <a href="../Product_detail/Product_detail.html">
                  <img
                    src="https://sneakerholicvietnam.vn/wp-content/uploads/2023/12/air-jordan-1-mid-panda-dv0991-101-copy.jpg"
                    class="card-img-top" alt="Áo thun 1">
                </a>
                <div class="card-body text-center">
                  <h5 class="card-title">Jordan 1 Panda</h5>
                  <p class="card-text">6,399,000 VND</p>
                </div>
              </div>
            </div>

           <div class="col-6 col-md-3">
              <div class="card h-100">
                <a href="../Product_detail/Product_detail.html">
                  <img
                    src="https://sneakerholicvietnam.vn/wp-content/uploads/2023/12/air-jordan-1-mid-panda-dv0991-101-copy.jpg"
                    class="card-img-top" alt="Áo thun 1">
                </a>
                <div class="card-body text-center">
                  <h5 class="card-title">Jordan 1 Panda</h5>
                  <p class="card-text">6,399,000 VND</p>
                </div>
              </div>
            </div>

            <div class="col-6 col-md-3">
              <div class="card h-100">
                <a href="../Product_detail/Product_detail.html">
                  <img
                    src="https://sneakerholicvietnam.vn/wp-content/uploads/2023/12/air-jordan-1-mid-panda-dv0991-101-copy.jpg"
                    class="card-img-top" alt="Áo thun 1">
                </a>
                <div class="card-body text-center">
                  <h5 class="card-title">Jordan 1 Panda</h5>
                  <p class="card-text">6,399,000 VND</p>
                </div>
              </div>
            </div>

           <div class="col-6 col-md-3">
              <div class="card h-100">
                <a href="../Product_detail/Product_detail.html">
                  <img
                    src="https://sneakerholicvietnam.vn/wp-content/uploads/2023/12/air-jordan-1-mid-panda-dv0991-101-copy.jpg"
                    class="card-img-top" alt="Áo thun 1">
                </a>
                <div class="card-body text-center">
                  <h5 class="card-title">Jordan 1 Panda</h5>
                  <p class="card-text">6,399,000 VND</p>
                </div>
              </div>
            </div>

          </div>

          <div class="row g-4 mt-2">
            <div class="col-6 col-md-3">
              <div class="card h-100">
                <a href="../Product_detail/Product_detail.html">
                  <img
                    src="https://sneakerholicvietnam.vn/wp-content/uploads/2023/12/air-jordan-1-mid-panda-dv0991-101-copy.jpg"
                    class="card-img-top" alt="Áo thun 1">
                </a>
                <div class="card-body text-center">
                  <h5 class="card-title">Jordan 1 Panda</h5>
                  <p class="card-text">6,399,000 VND</p>
                </div>
              </div>
            </div>

           <div class="col-6 col-md-3">
              <div class="card h-100">
                <a href="../Product_detail/Product_detail.html">
                  <img
                    src="https://sneakerholicvietnam.vn/wp-content/uploads/2023/12/air-jordan-1-mid-panda-dv0991-101-copy.jpg"
                    class="card-img-top" alt="Áo thun 1">
                </a>
                <div class="card-body text-center">
                  <h5 class="card-title">Jordan 1 Panda</h5>
                  <p class="card-text">6,399,000 VND</p>
                </div>
              </div>
            </div>

            <div class="col-6 col-md-3">
              <div class="card h-100">
                <a href="../Product_detail/Product_detail.html">
                  <img
                    src="https://sneakerholicvietnam.vn/wp-content/uploads/2023/12/air-jordan-1-mid-panda-dv0991-101-copy.jpg"
                    class="card-img-top" alt="Áo thun 1">
                </a>
                <div class="card-body text-center">
                  <h5 class="card-title">Jordan 1 Panda</h5>
                  <p class="card-text">6,399,000 VND</p>
                </div>
              </div>
            </div>

            <div class="col-6 col-md-3">
              <div class="card h-100">
                <a href="../Product_detail/Product_detail.html">
                  <img
                    src="https://sneakerholicvietnam.vn/wp-content/uploads/2023/12/air-jordan-1-mid-panda-dv0991-101-copy.jpg"
                    class="card-img-top" alt="Áo thun 1">
                </a>
                <div class="card-body text-center">
                  <h5 class="card-title">Jordan 1 Panda</h5>
                  <p class="card-text">6,399,000 VND</p>
                </div>
              </div>
            </div>


        </section>
      

      <div class="search-input-area">
        <input type="text" placeholder="Tìm kiếm theo từ khóa...">
        <button class="close-search" id="closeSearch"><i class="fa-solid fa-xmark"></i></button>
      </div>
    </div>
  </div>





  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

  <script src="Backgroun_slide.js"></script>
  <script src="Header_hover.js"></script>
  <script src="Search.js"></script>
</body>

</html>