<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login ne</title>
    <link rel="stylesheet" href="Register.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <section>
        <div class="wrapper">
            <form action="">
                <h1>Register</h1>
                <div class="input_box">
                    <input type="text" placeholder="Last name" required>
                    <i class='bx    bx-user'></i>
                </div>
                <div class="input_box">
                    <input type="text" placeholder="First name" required>
                    <i class='bx    bx-user'></i>
                </div>
                <div class="input_box">
                    <input type="text" placeholder="Email" required>
                    <i class='bx bx-envelope'></i>
                </div>
                <div class="input_box">
                    <input type="text" placeholder="Address" required>
                    <i class='bx bx-home'></i>
                </div>
                <div class="input_box">
                    <input type="text" placeholder="Phone number" required>
                    <i class='bx bx-phone'></i>
                </div>
                <div class="input_box dob_box">
                    <div class="custom-select" id="daySelect">
                        <div class="select-selected">Day</div>
                        <div class="select-items"></div>
                    </div>

                    <div class="custom-select" id="monthSelect">
                        <div class="select-selected">Month</div>
                        <div class="select-items"></div>
                    </div>

                    <div class="custom-select" id="yearSelect">
                        <div class="select-selected">Year</div>
                        <div class="select-items"></div>
                    </div>
                </div>


                <div class="input_box">
                    <input type="password" placeholder="Password" required>
                    <i class='bx    bx-lock'></i>
                </div>

                <button type="submit" class="btn">Register</button>


            </form>
        </div>
        </sections>
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
        <script src="Choose_birth.js"></script>
        <script src="Register.js"></script>
</body>

</html>